<%- include("partials/header") %>

<link rel="stylesheet" href="app.css"/>

<h1>This is the home page!</h1>

<img src="http://www.pomsky.org/wp-content/uploads/2020/04/83533587_2310274485740900_3595806487760338944_o-1024x683.jpg" alt="">
<%- include("partials/footer") %>
